{% extends "layout.html.jinja" %}

{% block middle %}
    <form action="{{ url_for('extract') }}" method="POST">
  <div class="mb-3">
        <label for="product_id" class="form-label">Identyfikator produktu</label>
        <input type="text" class="form-control" id="product_id" name="product_id" placeholder="Podaj identyfikator produktu">
  </div>
  <input  type="submit" class="btn btn-primary" value="Pobierz">
</form>
{% endblock middle %}