
{% extends "layout.html.jinja" %}
<!--  Nawiasy klamrowe do wyświetlania wartości zmiennych  -->
{% block middle %}
  {% if form.product_id.errors %}
    <script>
      swal( "Błędny kod produktu" ,  "Wpisz poprawny kod produltu zawierający co najmniej 6 cyfr" ,  "error" )
    </script>
  {% endif %}
  <form action="{{ url_for('extract') }}" method="POST">
  <div class="mb-3">
    <br> 
        <label for="product_id" class="form-label">Podaj identyfikator produktu:</label>
        <!-- {{ form.hidden_tag() }}  --> <!-- tag daje wiele, token daje 1 -->
         {{ form.product_id(size=20) }} 
        {{ form.submit(class="btn btn-primary") }} <!-- <input type="submit" class="form-control" id="product_id" name="product_id" placeholder="Podaj identyfikator produktu"> -->
  </div>
  

</form>
{% endblock middle %}