{% extends "layout.html.jinja" %}

{% block middle %}
    {{ product }}
    {# <table id='opinions' class='table table-striped'>
        
        </table> #}
{% endblock middle %}
{% block scripts %}
        <script>
            $(document).ready( function () {
                $('#opinions').DataTable();
            });
        </script>
{% endblock scripts %}