{% extends "layout.html.jinja" %}

{% block middle %}
<br>
    <h2> Lista produktów </h2>
    <ul class="list-group" >
        {% for product in products %}

        <li class="list-group-item list-group-item-action"><a href="{{ url_for('opinions', product_id=product) }}">{{ product }}</a>
        <br>
            <a href="app/products/{{product}}.json" download>
                        <input type="submit" value="pobierz" class="btn btn-primary"/>
                    </a>
                 </li>
        

        {% endfor %}
    </ul>
{% endblock middle %}